body{
	background: #ccc;
	font-family: roboco;
}
.Box{
	width: 1560px;
	height: 60px;
	margin: 0px auto;

}
.D1{
	
	background: black;
	border-right: 1px solid white;
	color: white;
	height: 70px;
	width: 579px;
	float: left;
}
.D3{
	background: black;
	color: white;
	height: 70px;
	width: 579px;
	float: left;
}
.D2{
	border-right: 1px solid white;
	background: black;
	color: white;
	width: 400px;
	float: left;
	height: 70px;
}
.D1 a{
	
	text-align: right; 
	text-decoration: none;
	color: white;
}
.D1 a h3{
	background: url(../img/clock.png)no-repeat 320px;
	font-size: 15px;
	line-height: 50px;
	margin-top: 5px;
	margin-right: 60px;
}
.D1 a h5{
	margin-top: -25px;
	margin-right: 54px;
}
.D2 a{
	text-align: center;
	text-decoration: none;
	color: white;

}
.D2 a h3{
	background: url(../img/xetai.png)no-repeat -5px;
	font-size: 15px;
	line-height: 50px;
	margin-top: 5px;
	margin-left: 40px;
	
}
.D2 a h5{

	margin-top: -25px;
	margin-left: 40px;
	
}
.D3 a{
	text-align: right;
	text-decoration: none;
	color: white;
}
.D3 a h3{
	background: url(../img/thiep.png)no-repeat 40px;
	font-size: 15px;
	line-height: 50px;
	margin-top: 5px;
	margin-right: 330px;
	
}
.D3 a h5{
	margin-top: -25px;
	margin-right: 334px;
	
}















.Boxt{
	width: 1200px;
	margin: auto;
	height: 2665px;
	background: white;
	clear: left;
}
.A1{
	margin: 10px 0px 10px 10px;
	background: url(../img/china.png) no-repeat 3px;
	width: 650px;
	height: 20px;
	float: left;
	
}
.A1 select{
	margin-left: 25px;
}
.A2{
	margin: 10px 0px 10px 0px;
	width: 540px;
	height: 20px;
	float: left;

}
.A2 ul{
	margin: 0px;
	padding: 0px;
	list-style: none;
	height: 20px;


}
.A2 ul li{
	float: left;
	line-height: 20px;
	margin-left: 30px;

	
}
.A2 ul li a:hover{

	color: #f36a22;
}
.A2 ul li a{
	
	color: black;
	text-decoration: none;
	padding: 0px 5px 0px 0px;
	margin-left: 35px;
	
}
.A2 ul li#a1{
	background: url(../img/heart.png)no-repeat 10px;
}
.A2 ul li#a2{
	background: url(../img/account.png)no-repeat 10px;
}
.A2 ul li#a3{
	background: url(../img/check1.png)no-repeat 10px;
}
.A2 ul li#a4{
	background: url(../img/lock.png)no-repeat 10px;
}


.B1{
	width: 800px;
	height: 90px;
	
	clear: left;
	float: left;
}
.B1 h1{
	line-height: 20px;
	margin-top: 10px;
	font-family: tahoma;
	text-indent: 550px;

}
.B1 h5{
	font-family: tahoma;
	text-indent: 560px;
	line-height: 5px;
	margin-top: -5px;

}



.B2{
	width: 400px;
	height: 90px;
	float: left;
}
.search{
    width:70%;
    float:left;
    position:relative;

}
button {
    border: none;
    background: #6d136a;
    color: #fff;
    height: 30px;
    border-radius: 50px;
    width: 60px;
    position: absolute;
    top: 30px;
    left: 315px;
    cursor: pointer;
}
input{
    margin-top:30px;
    height:30px;
    width:260px;
    margin-left: 100px;
    outline:0;
    border:none;
    background:#ececec;
    padding-left:20px;
    border-radius:50px;
    box-sizing:border-box;

}
button:hover{
    color:#f36a22;

}


.C{
	
	width: 1200px;
	height: 50px;
	float: left;
	border-bottom: 1px solid #ccc;
	
}
.C ul li{
	list-style: none;
}
.C ul li a{
	font-size: 20px;
	text-decoration: none;
	float: left;
	padding: 0px 20px 5px 5px;
	color: black;
}
.C ul li a:hover{
	color: #f36a22;
}




.C ul li#c1 a{
	background: url(../img/xuong1.png)no-repeat 53px;
}
.C ul li#c2 a{
	background: url(../img/xuong1.png)no-repeat 105px;
}
.C ul li#c4 a{
	background: url(../img/xuong1.png)no-repeat 70px;
}





.E1{
	clear: left;
	float: left;
	width: 900px
	height:500px;
}
.E1 img {
	width: 900px;
	height: 500px;
	padding: 5px 5px 5px 5px;
}
.E2{
	float: left;
	width: 280px;
	height: 500px;
}
.E2 .E2a img {
	width: 275;
	height: 240px;
	padding: 5px 5px 5px 5px;
}
.E2 .E2b img {
	width: 280;
	height: 245px;
	padding: 5px 5px 5px 5px;
}


.F{
	clear: left;
	width: 1200px;
	height: 172px;
	background: white;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
.F1{
	float: left;
	padding: 5px 10px 5px 20px;

}
.F2{
	float: left;
	padding: 5px 10px 10px 5px;
}
.F3{
	float: left;
	padding: 5px 10px 10px 5px;
}
.F4{
	float: left;
	padding: 5px 10px 10px 5px;
}
.F5{
	float: left;
	padding: 5px 5px 5px 5px;
}
/*Kết thúc khối F*/

.G{
	clear: left;
	width: 1200px;
	height: 280px;
	border-bottom: 1px solid #ccc;
}
.G1{
	clear: left;
	float: left;
	padding: 5px 5px 5px 20px;
	
}
.G2{
	float: left;
	padding: 5px 5px 5px 20px;
}
.G3{
	float: left;
	padding: 5px 5px 5px 20px;
}
.G1 a img:hover{
	border-bottom: 5px solid cyan;
}
.G2 a img:hover{
	border-bottom:  5px solid cyan;
}
.G3 a img:hover{
	border-bottom: 5px solid cyan;
}
/*Kết thúc khối G*/


.H{
	width: 1200px;
	height: 450px;
	
	clear: left;
}
.H .H1{
	width: 1200px;
	height: 40px;
	border-bottom: 1px solid #ccc;
}
.H .H1 ul li{
	list-style: none;
	padding: 5px;
}
.H .H1 ul li a{
	text-decoration: none;
	color: black;
	font-size: 20px;
	font-family: time new roman;


	margin-left: -25px;
	
	
}
.H .H1 ul li a:hover{
	color: green;
	border-bottom:  1px solid green;
}
.H2{
	clear: left;
}
.H2a{
	float: left;
}
.H2b{
	float: left;
}
.H2c{
	float: left;	
}
.H2d{
	float: left;	
}
.H2a a img{
	padding: 5px 5px 5px 20px;
}
.H2b a img{
	padding: 5px 5px 5px 20px;
}
.H2c a img{
	padding: 5px 5px 5px 20px;
}
.H2d a img{
	padding: 5px 5px 5px 20px;
}

.H2a a img:hover{
	border: 1px solid #ccc;
}
.H2b a img:hover{
	border: 1px solid #ccc;
}
.H2c a img:hover{
	border: 1px solid #ccc;
}
.H2d a img:hover{
	border: 1px solid #ccc;
}
/*Kết thúc khối H*/


.I{
	border-top: 1px solid #ccc;

	padding-top: 15px;
	padding-bottom: 15px;
	clear: left;
	width: 1200px;
	height: 540px;
}
.I1{
	float: left;

}
.I2{
	float: left;
}
.I3{
	float: left;
}

.I1 a img{
	padding-left: 15px;
}
.I1 a img:hover{
	border-bottom: 2px solid green;
}
.I2 a img:hover{
	border-bottom: 2px solid green;
}
.I3 a img:hover{
	border-bottom: 2px solid green;
}
/*Kết thúc khối I*/

.K{
	width: 1200px;
	height: 410px;
}
.K .K1{
	clear: left;
}
.K .K1 ul{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.K .K1 ul li a{
	color: black;
	font-size: 20px;
	text-decoration: none;
	float: left;
	padding-right: 20px;
	padding-left: 15px;
	border-right: 2px solid #ccc;
	margin-bottom: 10px;
}
.K .K1 ul li a:hover{
	color: red;

}
.K .K1 ul li:last-child a{
	border-right: none;
}
.K2{
	height: 410px;
	clear: left;
	width: 1200px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
.K2a, .K2b, .K2c, .K2d, .K2e{
	float: left;
}
.K2a img{
	width: 205px;
	height: 390px;
	padding: 10px 10px 10px 40px;
}
.K2b img{
	width: 205px;
	height: 390px;
	padding: 10px 10px 10px 10px;
}
.K2c img{
	width: 205px;
	height: 390px;
	padding: 10px 10px 10px 10px;	
}
.K2d img{
	width: 205px;
	height: 390px;
	padding: 10px 10px 10px 10px;
}
.K2e img{
	width: 205px;
	height: 390px;
	padding: 10px 10px 10px 10px;
}
.K2a img:hover{
	
	border-right: 1px solid #ccc;
}
.K2b img:hover{
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}
.K2c img:hover{
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}
.K2d img:hover{
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}
.K2e img:hover{
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}